@charset "ISO-8859-1";



body {
    background-color: whitesmoke
}


.normal-link{
	background:none;
     color: blue;
     border:none; 
     padding:0!important;
     font: inherit;
     text-decoration: underline;
     cursor: pointer;
}


table, th, td {
    border: 1px solid black;
  }

  .short-form{
	display:inline-block;
}

.link-style{
	color:blue;
	text-decoration:underline;
}

.nav-bar{
	width:100%;
	padding:10px;
	margin-bottom:20px;
}

.nav-bar a, .nav-bar form, .nav-bar p{
	display:inline-block;
	margin-right: 40px;
}

.nav-bar form{
	margin-left: 100px;
}

.nav-bar input[type=search], input[type=submit]{
	border:2px solid black;
	padding:5px;
	font-size:1em;
	margin-right: 10px;
}

.nav-bar input[type=submit]{
	box-shadow:2px 3px;
}











